* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f1f1f1;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}

sup {
  font-size: 75%;
  position: relative;
  line-height: 0;
  top: -0.5em;
  vertical-align: baseline;
}

.btn {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  outline: none;
  cursor: pointer;
  border: 0;
}

.btn:hover {
  background-color: #ccc;
  color: #000;
}

.header {
  display: flex;
  align-items: center;
  height: 4.4rem;
  background-color: white;
  font-size: 2rem;
}
.header .logo {
  background-color: #f44336;
  height: 100%;
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.4rem 1.8rem;
}
.header .logo__icon {
  margin-right: 2rem;
}
.header .logo:hover {
  background-color: #ccc;
  color: #484848;
}
.header__menu {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.header__menu-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
.header__menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  height: 100%;
  cursor: pointer;
  color: #484848;
}
.header__menu-item:hover {
  background-color: #ccc;
}
.header .book-btn {
  background-color: #f1f1f1;
  padding: 1.4rem 1.6rem;
  color: #484848;
  font-size: 2rem;
}
.header .book-btn:hover {
  background-color: #ccc;
  cursor: pointer;
}

.intro {
  position: relative;
  margin-bottom: 3.8rem;
}
.intro-icon {
  padding: 0 1.8rem;
}
.intro .form-login {
  width: 64.4rem;
  position: absolute;
  top: 50%;
  left: 2rem;
  background-color: #fff;
  transform: translateY(-50%);
}
.intro .form-login__heading {
  display: flex;
  align-items: center;
  width: 100%;
  height: 6.4rem;
  background-color: #f44336;
  color: white;
  font-size: 3rem;
}

.form-container {
  padding: 1.6rem;
}
.form-container .search-btn {
  font-family: "Poppins", sans-serif;
  padding: 1rem 1.6rem;
  margin-top: 8px;
  border: 0;
  outline: none;
  cursor: pointer;
  background-color: #616161;
  font-size: 1.5rem;
  color: white;
}
.form-container .search-btn--full {
  width: 100%;
  margin: 0;
  background-color: #000;
  color: white;
  padding: 6px 0;
}
.form-container .search-btn:hover {
  background-color: #ccc;
  color: #484848;
}
.form-container .search-icon {
  padding-right: 2rem;
}

.form__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.6rem;
}
.form__item-category {
  font-size: 1.6rem;
  margin-bottom: 4px;
  color: #484848;
}
.form__item-input {
  padding: 1rem;
  border: 1px solid #dedede;
}

.option-container {
  padding: 1.6rem;
  margin-bottom: 2rem;
}
.option-container__title {
  font-size: 2.2rem;
  margin-bottom: 3rem;
  color: #484848;
}
.option-container__desc {
  display: block;
  font-size: 1.6rem;
  margin-bottom: 2rem;
  color: #484848;
}
.option-container__form {
  padding: 1.6rem 0;
}

.category-room__details {
  padding: 1.8rem;
  display: flex;
  flex-direction: column;
  background-color: white;
}
.category-room__title {
  font-size: 2.6rem;
  margin-bottom: 2rem;
  color: #484848;
}
.category-room__price {
  font-size: 1.6rem;
  color: #999;
  margin-bottom: 2rem;
}
.category-room__charac {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}
.category-room__area {
  font-size: 1.6rem;
  margin-bottom: 2.8rem;
}
.category-room__function {
  font-size: 1.4rem;
  margin-bottom: 2rem;
}
.category-room .btn-choose {
  padding: 1.2rem 0;
  background-color: #000;
  color: white;
  font-size: 1.4rem;
}
.category-room .btn-choose:hover {
  background-color: #ccc;
  color: #484848;
}

.local {
  padding: 0 1.6rem;
}
.local__title {
  font-size: 2.6rem;
  margin-top: 2.2rem;
  margin-bottom: 2rem;
  color: #484848;
}
.local__detail {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 2.4rem;
  color: #484848;
}
.local__payment-methods {
  font-size: 1.6rem;
  color: #484848;
}
.local__payment-icon {
  font-size: 1.8rem;
  margin: 0 2px;
}
.local__img {
  filter: grayscale(75%);
}
.local__contact {
  padding: 3.8rem 0;
}
.local__contact-icon {
  color: #f44336;
  font-size: 1.6rem;
}
.local__contact-item {
  text-align: center;
  font-size: 1.6rem;
  color: #484848;
}

.demand {
  padding: 4.2rem 0 4.2rem 2rem;
  background-color: #f44336;
  border-left: 8px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: none;
  margin-bottom: 3.2rem;
}
.demand__icon {
  color: white;
  font-size: 1.8rem;
  padding: 8px 15px;
  background-color: #ff5722;
  margin-right: 2.2rem;
}
.demand__desc {
  font-size: 1.8rem;
  color: white;
  font-weight: 350;
}

.our-hotels {
  padding: 0 1.6rem;
  margin-bottom: 6.4rem;
}
.our-hotels__title {
  font-size: 2.6rem;
  color: #484848;
  margin-bottom: 2.5rem;
}
.our-hotels__desc {
  display: block;
  margin-bottom: 3.4rem;
  color: #484848;
  font-size: 1.6rem;
}
.our-hotels__extend-item {
  margin-bottom: 16px;
}
.our-hotels__container {
  position: relative;
}
.our-hotels__container-name {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 1.5rem 2rem;
  font-size: 2rem;
  font-weight: 350;
  color: white;
}

.offers {
  background-color: #000;
  padding: 3.2rem 1.6rem;
  opacity: 0.6;
}
.offers:hover {
  opacity: 1;
}
.offers__title {
  color: white;
  font-size: 3rem;
  font-weight: 350;
  margin-bottom: 3rem;
}
.offers__desc {
  color: white;
  font-size: 1.6rem;
  font-weight: 350;
  margin-bottom: 2.2rem;
}
.offers__email {
  color: white;
  font-size: 1.6rem;
}
.offers__input {
  font-family: "Poppins", sans-serif;
  border: 1px solid #ccc;
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.6rem;
  margin-bottom: 1.4rem;
}
.offers .btn-subs {
  background-color: #f44336;
  padding: 0.8rem 1.6rem;
  color: white;
  font-size: 1.6rem;
  font-weight: 350;
}
.offers .btn-subs:hover {
  background-color: #ccc;
  color: #484848;
}

.contact {
  margin-top: 5.5rem;
  padding: 0 1.6rem;
}
.contact__title {
  font-size: 3rem;
  color: #484848;
  margin-bottom: 3.2rem;
}
.contact__desc {
  font-size: 1.6rem;
  color: #484848;
  margin-bottom: 2.2rem;
}
.contact__icon {
  color: #f44336;
  font-size: 1.4rem;
  margin-right: 2rem;
  margin-bottom: 9px;
}
.contact__content {
  font-size: 1.6rem;
  color: #484848;
}
.contact__form {
  display: block;
  margin-top: 1.8rem;
}
.contact__form-input {
  padding: 1.6rem 0.8rem;
  border: 1px solid #ccc;
  width: 100%;
  font-size: 1.8rem;
  font-weight: 350;
  color: #484848;
  margin-bottom: 1.8rem;
}
.contact .send-btn {
  background-color: #000;
  color: white;
  font-size: 1.8rem;
  font-weight: 350;
  text-transform: uppercase;
  padding: 1.2rem 2.4rem;
}
.contact .send-btn:hover {
  background-color: #ccc;
  color: #484848;
}

.footer {
  padding: 3.2rem 0;
  background-color: #000;
  margin-top: 3.2rem;
}
.footer__title {
  color: white;
  font-size: 1.8rem;
  font-weight: 350;
  text-align: center;
  margin: 1rem 0;
}
.footer__list-icon {
  padding: 2.2rem 0;
  text-align: center;
}
.footer__icon {
  color: white;
  font-size: 2rem;
  padding: 4px;
}
.footer__icon:hover {
  color: #ccc;
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
